

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #000;
    --primary-color: #D9D9D9;
}

body{
    background-color: #575656;
    display: flex;
    justify-content: center; 
    align-items: center;     
      
}

main{
    margin: 50px;
    background-color: #A8A4A4;
    width: 90%;
    max-width: 1900px;
    min-height: 900px;
}

h1{
    font-family: 'Irish Grover', cursive;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 100px;
    margin-left: 250px;
    font-size: 130px;
    color: #ffffff;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.einerd img{
    display: block;
    margin: 20px auto;
    width: 90px; 
    margin-left: 210px;
}

.canais img{
    align-items: center;
    justify-content: center;
    width: 150px;
}

.canais{
    display: flex;
    padding-left: 30px;
    padding-bottom: 20px;
}






#home, #resultado {
    text-align: center;
}

#resultado {
    background: #555;
    color: white;
    height: 100vh;
    padding: 20px;
}

.conteudo {
    display: flex;
    gap: 20px;
}

.conteudo img {
    width: 250px;
}




.caixa {
    width: 470px; 
    text-align: center;
    padding: 40px;
    padding-left: 600px;
  }
  
  input {
    padding: 10px;
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background-color: #D9D9D9;
    font-size: 30px;
  }
  
  button {
    padding: 10px ;
    margin-top: 40px;
    margin-left: 150px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background-color: #D9D9D9;
    font-size: 25px;
  }

  .result{
    display:none;
    background-color: #A8A4A4;
    width: 90%;
    height: 90%;
  }